<!--The content below is only a placeholder and can be replaced.-->
<div class="container" >
  <h1>
    Welcome to {{ title }}!
  </h1>
 
  <input type="text" [(ngModel)]="name">
  <hr>
  <br>
  My name is  {{ name }}!

  <hr>
  
      <div >
        <div class="row">
            <div class="col-xs-12">
                   <!-- using selector as element -->
                  <!-- <app-servers> </app-servers> -->

                  <!-- using selector as attribute -->
                  <!-- <div app-servers></div> -->

                    <!-- using selector as attribute -->
                    <div class="app-servers"></div>
            </div>
            
    
        </div>
    </div>
    



